<div class="container-fluid">
    <div class="row">
        <h3 class="fs-2 text-white pt-1">AlgoFlow</h3>
    </div>
    <div class="row">
        <div class="col-12 text-center py-5 text-white">
            <h1 class="title " > Beyond Code: <br> An Artistic Exploration of Algorithms</h1>
        </div>

        <div class="col-12 text-center py-3 text-white">
            <p class="text-lead description fw-bold" >
                AlgoFlow unveils the inner workings of complex algorithms, <br> Offering a visual journey through their operations. 
            </p>
        </div>

        <div class="col-12 text-center py-3">
            <div class="row">
                <div class="col-6 text-end pe-5">
                    <button [routerLink]="['/pathfinding']">Pathfinding</button>
                </div>
                <div class="col-6 text-start ps-5">
                    <button [routerLink]="['/sorting']">Sorting</button>
                </div>
            </div>
        </div>

    </div>
</div>